<link rel="stylesheet" href="/css/direct_chat.css">
<div id="container">
    <div id="details">
        <a href="/users/profile/<%=chat_user._id%>"><img src="<%= chat_user.avatar %>" id="profile-pic"></a>&nbsp;
        <b><a href="/users/profile/<%=chat_user._id%>"><%= chat_user.name%></a></b>
    </div>
    
    <div id="chats">
        <ul id="messages">
            <% console.log(locals.user._id) %>
            <% for(chat of chats) {%>
                <%if(String(chat.sender) == String(locals.user._id) ){%>
                <li class="sender"><%= chat.message%></li>
                <%}else{%>
                    <li class="receiver"><%= chat.message%></li>
                    <%}%>
                <%}%>
        </ul>
    </div>
    
    <div id="typed-message">
        <input type="text" value="<%= locals.user._id%>" id="getSenderId" hidden>
        <input type="text" value="<%= chat_user._id%>" id="getReceiverId" hidden>
        <input type="text" value="<%= locals.user.name%>" id="getsenderName" hidden>
        <textarea id="message"></textarea>
        <input type="submit" value="Send" id="btn">
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
