<link rel="stylesheet" href="/css/home.css">

<div id="container">

<!-- Cards of posts -->
<div>
<% for(post of posts) {%>
<div id="card-container">
<div id="top">
<div id="user-detail">
<a href="/users/profile/<%= post.user._id%>"><img src="<%= post.user.avatar %>" id="profile-pic"></a>&emsp;
<div>&nbsp;&nbsp;
<b><a href="/users/profile/<%= post.user._id%>"><%= post.user.name %></a></b><br>
<% if(post.location) {%>
<small>
<i class="fas fa-map-marker-alt"></i>
<%= post.location %>
</small>
<%}%>
</div>
</div>
<div><b><i class="fas fa-ellipsis-h"></i></b></div>
</div>
<div id="img-container">
<img src="<%= post.image_path%>" id="post-pic">
</div>
<div id="bottom">
<div>
<i class="far fa-heart"></i>
<i class="far fa-comment"></i>
<i class="far fa-paper-plane"></i>
</div>
<div>
<i class="far fa-bookmark"></i>
</div>
</div>
<div id="post-details">
<b><a href="/users/profile/<%= post.user._id%>"><%= post.user.name %></a></b> &nbsp;
<% if(post.caption) {%>
<%= post.caption %>
<%}%>
</div>
</div>
<%}%>
</div>

<!-- Side div -->
<div id="right-panel">

<div id="user-details">
<a href="/users/profile/<%= locals.user.id%>"><img src="<%= locals.user.avatar%>" id="user-pic"></a>&emsp;
<div>
<b><a href="/users/profile/<%= locals.user.id%>"><%= locals.user.name %></a></b><br>
<b style="color: gray;"><%= locals.user.email %></b>
</div>
</div>

<br>
<div id="suggestion">
<p style="color: gray;">New Users</p>
<br>
<% for(newUser of newUsers) {%>
<div id="newUsers">        
<div><a href="/users/profile/<%=newUser._id%>"><img src="<%= newUser.avatar%>" id="newUser-pic"></a>&emsp;</div>
<div><b><a href="/users/profile/<%=newUser._id%>"><%= newUser.name %></a></b></div>
</div>     
<%}%>
</div>
</div>


</div>
        <!-- <script src="" async defer></script> -->
   