<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <%- style %>
    </head>
    <body>
        <% if(locals.user) {%>
      <%- include('_header') %>
      <%}%>
      <%- body %>

      <%- include('_footer') %>
        
        <script src="https://kit.fontawesome.com/57790f0bc8.js" crossorigin="anonymous"></script>
        <!-- <script src="" async defer></script> -->
        <%- script %>
    </body>
</html>