<link rel="stylesheet" href="/css/profile_edit.css">
<div id="edit-details-container">
    <div id="img-conatiner"><img src="<%= locals.user.avatar %>"></div>
    <form action="/users/update-profile/<%=locals.user.id%>" enctype="multipart/form-data" method="POST">
        <div class="between"> <input type="file" name="avatar" placeholder="Profile Picture" accept="image/*"></div>
        <div class="space-between"><span>Name </span><input type="text" value="<%=locals.user.name%>" name="name"></div>
        <div class="space-between"><span>Gender </span><select id="gender" name="gender">
            <% if(locals.user.gender== 'Male') {%>
            <option value="Male" selected>Male</option>
            <option value="Female">Female</option>
            <option value="Other">other</option>
            <%}%>
            <% if(locals.user.gender== 'Female') {%>
                <option value="Male" >Male</option>
                <option value="Female" selected>Female</option>
                <option value="Other">other</option>
            <%}%>
            <% if(locals.user.gender== 'Other') {%>
                <option value="Male" >Male</option>
                <option value="Female" >Female</option>
                <option value="Other" selected>other</option>
            <%}%>
            <% if(!locals.user.gender) {%>
                <option value="Male" >Male</option>
                <option value="Female" >Female</option>
                <option value="Other" >other</option>
            <%}%>
        </select></div>
        <div class="space-between"><span>Date of birth </span><input type="date" name="dateOfBirth" value="<%=locals.user.dateOfBirth%>"></div><br>
        <div class="space-between"><span>Bio </span><textarea name="bio"><%=locals.user.bio%></textarea></div>
        <input type="submit" value="Submit" id="submit-btn">
    </form>
</div>