<link rel="stylesheet" href="/css/profile.css">
<div id="container">
<% if(locals.user) {%>
<div id="profile-details-container">
<div>
<img src="<%= profile_user.avatar%>"  id="profile-img">
</div>
<div>
<h3><%= profile_user.name %></h3>
<div class="space-between">
<div><b><%= profile_posts.length %></b> posts</div>
<div><b><%= profile_user.followers.length %></b> followers</div> 
<div><b><%= profile_user.followings.length %> </b> following</div>
</div>
<h3><%= profile_user.email %></h3>
<div class="bio">
    <%= profile_user.bio %>
</div>
</div>
<div>
<% if(locals.user.id == profile_user.id) {%>
    <a href="/users/profile-edit/<%=locals.user.id%>">Edit &nbsp;<i class="fas fa-user-edit"></i></a>
<%}%>
<% if(locals.user.id != profile_user.id) {%>
    <% if(isFollowed) {%>
        <a href="/users/unfollow/<%=profile_user.id%>">Unfollow</a>
    <%}%>
    <% if(!isFollowed) {%>
        <a href="/users/follow/<%=profile_user.id%>">Follow</a>
    <%}%>
    <%}%>
</div>

</div>
<h3 style="text-align: center;"><i class="fas fa-th"></i>&nbsp;POSTS</h3>
<div id="user-posts"> 
<% for(post of profile_posts) {%>
<div>
<a href="/posts/post-details/<%=post._id%>">
    <img src="<%= post.image_path %>">
</a>
</div>
<%}%>
</div>
<%}%>
</div>