<link rel="stylesheet" href="/css/profile.css">
<div id="container">
<% if(locals.user) {%>
<div id="profile-details-container">
<div>
<img src="<%= profile_user.avatar%>"  id="profile-img">
</div>
<div>
<h3><%= profile_user.name %></h3>
<div class="space-between">
<div><b>15</b> posts</div>
<div><b>115</b> followers</div> 
<div><b>96</b> following</div>
</div>
<h3><%= profile_user.email %></h3>
<div class="bio">
    <%= profile_user.bio %>
</div>
</div>
<div>
<% if(locals.user.id == profile_user.id) {%>
    <a href="/users/profile-edit/<%=locals.user.id%>">Edit &nbsp;<i class="fas fa-user-edit"></i></a>
<%}%>
</div>

</div>
<h3 style="text-align: center;"><i class="fas fa-th"></i>&nbsp;POSTS</h3>
<div id="user-posts"> 
<% for(post of profile_posts) {%>
<div>
<img src="<%= post.image_path %>">
</div>
<%}%>
</div>
<%}%>
</div>